@model IEnumerable<InmoviliariaSarchioniAlfonzo.Models.Inmueble>

@{
    ViewData["Title"] = "Lista de Inmuebles";
}

<link rel="stylesheet" href="~/fondo/inmueble.css" />

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show temp-message" role="alert">
        @TempData["SuccessMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (TempData["InfoMessage"] != null)
{
    <div class="alert alert-info alert-dismissible fade show temp-message" role="alert">
        @TempData["InfoMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show temp-message" role="alert">
        @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="text-center">
    <h1 class="display-3">Inmuebles pepe</h1>
    <div class="mb-3">
        <a asp-controller="Inmueble" asp-action="NuevoInmueble" class="btn btn-success" title="Cargar Nuevo Inmueble">
            <i class="fa-solid fa-house"></i> Nuevo
        </a>
    </div>
    <div class="mb-3">
        <!-- Campo de búsqueda -->
        <input type="text" id="inputBusqueda" placeholder="Buscar..." onkeyup="filtrarTabla()">
    </div>
    <table class="table" style="color: rgb(13, 12, 14); background-color: white;">
        <thead>
            <tr>
                @* <th>ID</th> *@
                <th>Dirección</th>
                <th>Uso</th>
                <th>Ambientes</th>
                @* <th>Latitud</th> *@
                @* <th>Longitud</th> *@
                @* <th>Tamaño</th> *@
                <th>Tipo de Inmueble</th>
                <th>Servicios</th>
                @* <th>Baño</th> *@
                @* <th>Cochera</th> *@
                @* <th>Patio</th> *@
                <th>Precio</th>
                <th>Condición</th>
                @* <th>Estado</th> *@
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var rowClass = item.Estado_Inmueble == 0 ? "inactivo" : "";
                <tr class="@rowClass">
                    @* <td>@item.Id_Inmueble</td> *@
                    <td>@item.Direccion</td>
                    <td>@item.Uso</td>
                    <td>@item.Ambientes</td>
                    @* <td>@item.Latitud</td> *@
                    @* <td>@item.Longitud</td> *@
                    @* <td>@item.Tamano</td> *@
                    <td>@item.tipo?.Tipo</td>
                    <td>@item.Servicios</td>
                    @* <td>@item.Bano</td> *@
                    @* <td>@item.Cochera</td> *@
                    @* <td>@item.Patio</td> *@
                    <td>@item.Precio</td>
                    <td>@item.Condicion</td>
                    @* <td>
                @if (item.Estado_Inmueble == 1)
                {
                <span>Activo</span>
                }
                else
                {
                <span>Inactivo</span>
                }
                @* </td> *@
                    <td>
                        <!-- Enlace para editar -->
                        <a asp-controller="Inmueble" asp-action="EditarInmueble" class="btn btn-primary"
                            asp-route-id="@item.Id_Inmueble" asp-route-source="propietario" title="Editar información">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>

                        <!-- Enlace para ver el detalle -->
                        <a asp-controller="Inmueble" asp-action="DetalleInmueble" asp-route-id="@item.Id_Inmueble"
                            asp-route-source="propietario" title="Información del Inmueble">
                            <i class="fa-solid fa-circle-info"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
        <div>
            @if (ViewBag.DesdeListInmueblePropietario != null && ViewBag.DesdeListInmueblePropietario == true)
            {
                <a href="@Url.Action("ListPropietario")" class="btn btn-primary mb-3">Volver </a>
            }
        </div>
</div>
<script src="~/js/site.js"></script>