@model IEnumerable<InmoviliariaSarchioniAlfonzo.Models.Contrato>

@{
    ViewData["Title"] = "Lista de Contratos Vigentes";
}

<link rel="stylesheet" href="~/fondo/pago.css" />

@{
    var advertencia = TempData["Advertencia"] as string;
    var error = TempData["Error"] as string;
}
@if (TempData["Advertencia"] != null)
{
    @if (!string.IsNullOrEmpty(advertencia))
    {
        <div class="alert alert-warning temp-message">
            @advertencia
        </div>
    }
    @if (!string.IsNullOrEmpty(error))
    {
        <div class="alert alert-danger temp-message">
            @error
        </div>
    }
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show temp-message" role="alert">
        @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="text-center">
    <h1 class="display-3">Contratos Vigentes</h1>
    <div class="mb-3">
        <a asp-action="ListPagos" class=" btn btn-primary mt-3">Volver</a>

    </div>
    <div class="mb-3">
        <!-- Campo de búsqueda -->
        <input type="text" id="inputBusqueda" placeholder="Buscar..." onkeyup="filtrarTabla()">
    </div>
    <table class="table" style="color: rgb(13, 12, 14); background-color: white;">
        <thead>
            <tr>
                <th>Nombre Inquilino</th>
                <th>Dni Inquilino</th>
                <th>Fecha Inicio</th>
                <th>Fecha Finalización</th>
                <th>Fecha Cancelación</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var contrato in Model)
            {
                <tr>
                    <td>@contrato.inquilino?.Apellido, @contrato.inquilino?.Nombre </td>
                    <td>@contrato.inquilino?.Dni</td>
                    <td>@contrato.Fecha_Inicio.ToString("dd/MM/yyyy")</td>
                    <td>@contrato.Fecha_Finalizacion.ToString("dd/MM/yyyy")</td>
                    <td>
                        @if (contrato.Finalizacion_Anticipada != default(DateTime))
                        {
                            @contrato.Finalizacion_Anticipada.ToString("dd/MM/yyyy")
                        }
                        else
                        {
                            @:No
                        }
                    </td>
                    <td>
                        <!-- Enlace para pagar -->
                        <a href="@Url.Action("NuevoPago", new { id = contrato.Id_Contrato })" class="btn btn-primary"
                            title="Pagar">
                            <i class="fa-brands fa-cc-visa"></i> Pagar
                        </a>
                        <!-- Enlace para Finalización anticipada -->
                        <a href="@contrato.Id_Contrato" class="btn btn-danger" title="Finalizar Contrato">
                            <i class="fa-solid fa-file-excel"></i> Finalizar Contrato
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="~/js/site.js"></script>
