@model InmoviliariaSarchioniAlfonzo.Models.Inmueble

@{
    ViewBag.Title = "Detalles del Inmueble";
}

<link rel="stylesheet" href="~/fondo/inmueble.css" />


@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show temp-message" role="alert">
        @TempData["SuccessMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (TempData["InfoMessage"] != null)
{
    <div class="alert alert-info alert-dismissible fade show temp-message" role="alert">
        @TempData["InfoMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show temp-message" role="alert">
        @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-10 bg-white p-4 rounded shadow-sm">
            <h1 class="text-center mb-4">Detalles del Inmueble</h1>

            <table class="table table-bordered">
                @* <tr>
                <th>ID Inmueble</th>
                <td>@Model.Id_Inmueble</td>
                </tr> *@
                <tr>
                    <th>Propietario</th>
                    <td>@Model.propietario?.Apellido, @Model.propietario?.Nombre</td>
                </tr>
                <tr>
                    <th>Dirección</th>
                    <td>@Model.Direccion</td>
                </tr>
                <tr>
                    <th>Uso</th>
                    <td>@Model.Uso</td>
                </tr>
                <tr>
                    <th>Ambientes</th>
                    <td>@Model.Ambientes</td>
                </tr>
                <tr>
                    <th>Coordenadas</th>
                    <td>@Model.Latitud /
                        @Model.Longitud
                        <a href="https://www.google.com/maps/?q=@Model.Latitud,@Model.Longitud" target="_blank"> Mapa
                            <i class="fa-solid fa-location-dot"> </i></a>
                    </td>
                </tr>
                <tr>
                    <th>Tamaño</th>
                    <td>@Model.Tamano m²</td>
                </tr>
                <tr>
                    <th>Tipo de Inmueble</th>
                    <td>@Model.tipo?.Tipo</td>
                </tr>
                <tr>
                    <th>Servicios</th>
                    <td>@Model.Servicios</td>
                </tr>
                <tr>
                    <th>Baños</th>
                    <td>@Model.Bano</td>
                </tr>
                <tr>
                    <th>Cochera</th>
                    <td>@Model.Cochera</td>
                </tr>
                <tr>
                    <th>Patio</th>
                    <td>@Model.Patio</td>
                </tr>
                <tr>
                    <th>Precio</th>
                    <td>$@Model.Precio</td>
                </tr>
                <tr>
                    <th>Condición</th>
                    <td>@Model.Condicion</td>
                </tr>
                <tr>
                    <th>Estado del Inmueble</th>
                    <td>@(Model.Estado_Inmueble == 1 ? "Activo" : "Inactivo")</td>
                </tr>

            </table>

        </div>
        <div class="col-md-8 col-lg-10 p-4 rounded shadow-sm">
            <a href="@Url.Action("ListInmueble", "Inmueble")" class="btn btn-primary">Volver</a>
        </div>
    </div>
</div>
<script src="~/js/site.js"></script>