@model IEnumerable<InmoviliariaSarchioniAlfonzo.Models.Inquilino>

@{
    ViewData["Title"] = "Lista de Inquilinos";
}

<link rel="stylesheet" href="~/fondo/inquilino.css" />


@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["SuccessMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}


<div class="text-center">
    <h1 class="display-3">Inquilinos</h1>

    <div class="mb-3">
        <a asp-action="NuevoInquilino" class="btn btn-success" title="Cargar Nuevo Inquilino">
            <i class="fa-solid fa-user-plus"></i> Nuevo
        </a>
    </div>
    <div class="mb-3">
        <!-- Campo de búsqueda -->
        <input type="text" id="inputBusqueda" placeholder="Buscar..." onkeyup="filtrarTabla()">
    </div>
    <table class="table" style="color: rgb(13, 12, 14); background-color: white;">
        <thead>
            <tr>
                <th>DNI</th>
                <th>Apellido</th>
                <th>Nombre</th>
                <th>Teléfono</th>
                <th>Email</th>
                <th>Estado</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Dni</td>
                    <td>@item.Apellido</td>
                    <td>@item.Nombre</td>
                    <td>@item.Telefono</td>
                    <td>@item.Email</td>
                    <td>
                        @switch (item.Estado_Inquilino)
                        {
                            case 0:
                                <span>Inactivo</span>
                                break;
                            case 1:
                                <span>Activo</span>
                                break;
                            case 2:
                                <span>Inactivo/Moroso</span>
                                break;
                            case 3:
                                <span>Inactivo/Desalojado</span>
                                break;
                        }
                    </td>
                    <td>
                        <!-- Enlace para editar -->
                        <a href="@Url.Action("EditarInquilino", "Inquilino", new { id = item.Id_Inquilino })"
                            class="btn btn-primary" title="Editar información">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>

                        <!-- Enlace para desactivar -->
                        <a href="@Url.Action("CambEstadoInquilino", new { id = item.Id_Inquilino })"
                            onclick="return confirm('¿Estás seguro de que deseas desactivar a @item.Apellido @item.Nombre?')"
                            class="btn btn-danger" title="Desactivar Inquilino">
                            <i class="fa-solid fa-user-minus"></i>
                            @* <i class="fa-solid fa-trash"></i> *@
                        </a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script>
        function filtrarTabla() {
            var input, filtro, tabla, filas, celdas, texto;
            input = document.getElementById("inputBusqueda");
            filtro = input.value.toUpperCase();
            tabla = document.querySelector(".table");
            filas = tabla.getElementsByTagName("tr");

            for (var i = 0; i < filas.length; i++) {
                celdas = filas[i].getElementsByTagName("td");
                var mostrar = false;

                for (var j = 0; j < celdas.length; j++) {
                    texto = celdas[j].textContent || celdas[j].innerText;
                    if (texto.toUpperCase().indexOf(filtro) > -1) {
                        mostrar = true;
                        break;
                    }
                }

                filas[i].style.display = mostrar ? "" : "none";
            }
        }
    </script>
}
