@model IEnumerable<InmoviliariaSarchioniAlfonzo.Models.Inquilino>

@{
    ViewData["Title"] = "Lista de Inquilinos";
}

<link rel="stylesheet" href="~/fondo/inquilino.css" />


@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show temp-message" role="alert">
        @TempData["SuccessMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}


<div class="text-center">
    <h1 class="display-3">Inquilinos</h1>

    <div class="mb-3">
        <a asp-action="NuevoInquilino" class="btn btn-success" title="Cargar Nuevo Inquilino">
            <i class="fa-solid fa-user-plus"></i> Nuevo
        </a>
    </div>
    <div class="mb-3">
        <!-- Campo de búsqueda -->
        <input type="text" id="inputBusqueda" placeholder="Buscar..." onkeyup="filtrarTabla()">
    </div>
    <table class="table" style="color: rgb(13, 12, 14); background-color: white;">
        <thead>
            <tr>
                <th>DNI</th>
                <th>Apellido</th>
                <th>Nombre</th>
                <th>Teléfono</th>
                <th>Email</th>
                <th>Estado</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var rowClass = item.Estado_Inquilino == 0 ? "inactivo" : "";
                <tr class="@rowClass">
                    <td>@item.Dni</td>
                    <td>@item.Apellido</td>
                    <td>@item.Nombre</td>
                    <td>@item.Telefono</td>
                    <td>@item.Email</td>
                    <td>
                        @switch (item.Estado_Inquilino)
                        {
                            case 0:
                                <span>Inactivo</span>
                                break;
                            case 1:
                                <span>Activo</span>
                                break;
                            case 2:
                                <span>Inactivo/Moroso</span>
                                break;
                            case 3:
                                <span>Inactivo/Desalojado</span>
                                break;
                        }
                    </td>
                    <td>
                        <!-- Enlace para editar -->
                        <a href="@Url.Action("EditarInquilino", "Inquilino", new { id = item.Id_Inquilino })"
                            class="btn btn-primary me-2" title="Editar información">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                        @if (User.IsInRole("Administrador"))
                        {
                            <!-- Enlace para desactivar -->
                            <a href="@Url.Action("CambEstadoInquilino", new { id = item.Id_Inquilino })"
                                onclick="return confirm('¿Estás seguro de que deseas desactivar a @item.Apellido @item.Nombre?')"
                                class="btn btn-danger me-2" title="Desactivar Inquilino">
                                <i class="fa-solid fa-user-minus"></i>
                                @* <i class="fa-solid fa-trash"></i> *@
                            </a>
                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script src="~/js/site.js"></script>