@model IEnumerable<InmoviliariaSarchioniAlfonzo.Models.Inquilino>

@{
    ViewData["Title"] = "Lista de Inquilinos";
}
<style>
    body {
        background: rgba(0, 0, 0, 0) url('/images/inquilino.jfif') no-repeat center center fixed;
        background-size: cover;
        margin: 0;
        padding: 0;
        height: 100%;
    }

    /* Aplicar una capa de color con opacidad para suavizar la imagen de fondo */
    body::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.7);
        /* Color blanco con 50% de opacidad */
        z-index: -1;
        /* Asegura que el contenido se superponga sobre la capa */
    }

    .text-center {
        color: rgb(3, 4, 4);
    }
</style>

<div class="text-center">
    <h1 class="display-3">Inquilinos</h1>
    <div class="mb-3">
        <a asp-action="NuevoInquilino" class="btn btn-success">
            <i class="fa-solid fa-user-plus"></i> Nuevo
        </a>
    </div>
    <div class="mb-3">
        <!-- Campo de búsqueda -->
        <input type="text" id="inputBusqueda" placeholder="Buscar..." onkeyup="filtrarTabla()">
    </div>
    <table class="table" style="color: rgb(13, 12, 14); background-color: white;">
        <thead>
            <tr>
                <th>DNI</th>
                <th>Apellido</th>
                <th>Nombre</th>
                <th>Teléfono</th>
                <th>Email</th>
                <th>Estado</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Dni</td>
                    <td>@item.Apellido</td>
                    <td>@item.Nombre</td>
                    <td>@item.Telefono</td>
                    <td>@item.Email</td>
                    <td>
                        @switch (item.Estado_Inquilino)
                        {
                            case 0:
                                <span>Inactivo</span>
                                break;
                            case 1:
                                <span>Activo</span>
                                break;
                            case 2:
                                <span>Inactivo/Moroso</span>
                                break;
                            case 3:
                                <span>Inactivo/Desalojado</span>
                                break;
                        }
                    </td>
                    <td>
                        <!-- Enlace para editar -->
                        <a href="@Url.Action("EditarInquilino", "Inquilino", new { id = item.Id_Inquilino })"
                            class="btn btn-primary">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>


                        <!-- Enlace para eliminar -->
                        <a href="EliminarInquilino?numero=@item.Id_Inquilino"
                            onclick="return confirm('¿Estás seguro de que deseas eliminar a @item.Apellido @item.Nombre?')"
                            class="btn btn-danger">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script>
        function filtrarTabla() {
            var input, filtro, tabla, filas, celdas, texto;
            input = document.getElementById("inputBusqueda");
            filtro = input.value.toUpperCase();
            tabla = document.querySelector(".table");
            filas = tabla.getElementsByTagName("tr");

            for (var i = 0; i < filas.length; i++) {
                celdas = filas[i].getElementsByTagName("td");
                var mostrar = false;

                for (var j = 0; j < celdas.length; j++) {
                    texto = celdas[j].textContent || celdas[j].innerText;
                    if (texto.toUpperCase().indexOf(filtro) > -1) {
                        mostrar = true;
                        break;
                    }
                }

                filas[i].style.display = mostrar ? "" : "none";
            }
        }
    </script>
}
