@model IEnumerable<InmoviliariaSarchioniAlfonzo.Models.Contrato>

@{
    ViewData["Title"] = "Lista de Contratos";
}

<link rel="stylesheet" href="~/fondo/contrato.css" />

@{
    var advertencia = TempData["Advertencia"] as string;
    var error = TempData["Error"] as string;
}
@if (TempData["Advertencia"] != null)
{
    @if (!string.IsNullOrEmpty(advertencia))
    {
        <div class="alert alert-warning temp-message">
            @advertencia
        </div>
    }


    @if (!string.IsNullOrEmpty(error))
    {
        <div class="alert alert-danger temp-message">
            @error

        </div>
    }
}
<style>
    .table td, .table th {
        font-size: 14px;
    }

   
</style>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show temp-message" role="alert">
        @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="text-center">
    <h1 class="display-3">Contratos</h1>
    <div class="mb-3">
        <a asp-action="EditarContrato" class="btn btn-success" title="Cargar Nuevo Contrato">
            <i class="fa-solid fa-house"></i> Nuevo
        </a>
    </div>
    <div class="mb-3">
        <!-- Campo de búsqueda -->
        <input type="text" id="inputBusqueda" placeholder="Buscar..." onkeyup="filtrarTabla()">
    </div>
   <table class="table" style="color: rgb(13, 12, 14); background-color: white; width: auto; table-layout: auto;">
    <thead>
        <tr>
            <th>Uso</th>
            <th>Tipo</th>
            <th>Nombre Pro</th>
            <th>Nombre Inq</th>
            <th>Fecha Inicio</th>
            <th>Fecha Finalización</th>
            <th>Fecha Cancelación</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var rowClass = item.Estado_Contrato == 0 ? "inactivo" : "";
            <tr class="@rowClass">
                <td>@item.inmueble?.Uso @item.inmueble?.Direccion</td>
                <td>@item.tipo_inmueble?.Tipo</td>
                <td>@item.propietario?.Nombre @item.propietario?.Apellido</td>
                <td>@item.inquilino?.Nombre @item.inquilino?.Apellido</td>
                <td>@item.Fecha_Inicio.ToString("dd/MM/yyyy")</td>
                <td>@item.Fecha_Finalizacion.ToString("dd/MM/yyyy")</td>
                <td>
                    @if (item.Finalizacion_Anticipada.ToString("dd/MM/yyyy") == "01/01/0001")
                    {
                        @:
                    }
                    else
                    {
                        @item.Finalizacion_Anticipada.ToString("dd/MM/yyyy")
                    }
                </td>
                <td>
                    <!-- Enlace para editar -->
                    <a href="@Url.Action("EditarContrato", new { id = item.Id_Contrato })" class="btn btn-primary"
                        title="Editar información">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>

                    <!-- Enlace para desactivar -->
                    <a href="@Url.Action("DetalleContrato", new { id = item.Id_Contrato })"
                        title="Informacion del Contrato">
                        <i class="fa-solid fa-circle-info"></i>
                    </a>
                    <!-- Enlace para eliminar -->
                    <a href="EliminarContrato/@item.Id_Contrato" class="btn btn-danger" title="Desactivar Contrato">
                        <i class="fa-solid fa-trash"></i> 
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>
<script src="~/js/site.js"></script>