@using System.Security.Claims
@model InmoviliariaSarchioniAlfonzo.Models.Contrato

@{
    ViewData["Title"] = "Nuevo Contrato Directo";
    var elinmueble = (Inmueble)ViewData["Inmueble"];
    var idusuario = User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.PrimarySid);
    var Id = idusuario?.Value;

}

<link rel="stylesheet" href="~/fondo/contrato.css" />

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <h2 class="text-center">@ViewData["Title"]</h2>

            @if (TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger temp-message" role="alert">
                    @TempData["ErrorMessage"]
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }

            <form asp-action="Guardar" method="post">
                <input type="hidden" asp-for="Id_Contrato" />
                <input asp-for="Estado_Contrato" type="hidden" value="1" />
                <input asp-for="Finalizacion_Anticipada" type="hidden" value="0001-01-01" />
                <input asp-for="Id_Terminado_Por" type="hidden" value="0" />
                <input asp-for="Monto" type="hidden" value="@elinmueble?.Precio" />
                <input asp-for="Id_Creado_Por" type="hidden" value="@Id" />
                <!-- Inmueble Section -->
                <div class="form-group">
                    <label asp-for="Id_Inmueble" class="control-label">Inmueble</label>
                    @if (ViewData["Inmueble"] is Inmueble inmueble)
                    {
                        <!-- Mostrar el inmueble como texto formateado -->
                        <input type="text" class="form-control" value="@inmueble.Direccion" disabled />
                        <!-- Input oculto para el ID del inmueble -->
                        <input type="hidden" asp-for="Id_Inmueble" value="@inmueble.Id_Inmueble" />
                    }
                    <span asp-validation-for="Id_Inmueble" class="text-danger"></span>
                </div>

                <!-- Propietario Section -->
                <div class="form-group">
                    <label class="control-label">Propietario</label>
                    <input type="text" id="propietario-info" class="form-control"
                        value="@elinmueble?.propietario?.Apellido, @elinmueble?.propietario?.Nombre" readonly />
                    <input type="hidden" asp-for="Id_Propietario" id="Id_Propietario"
                        value="@elinmueble?.Id_Propietario" />
                    <span asp-validation-for="Id_Propietario" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="dni-inquilino">Buscar Inquilino por DNI</label>
                    <input type="text" id="dni-inquilino" class="form-control"
                        placeholder="Ingrese el DNI del inquilino" oninput="buscarInquilino()">
                </div>

                <div class="form-group">
                    <label asp-for="Id_Inquilino" class="control-label">Inquilino</label>
                    <select asp-for="Id_Inquilino" id="inquilino-select" class="form-control">
                        <option value="" disabled selected>Seleccione un inquilino</option>
                        @if (ViewData["inquilino"] is List<Inquilino> inquilinos)
                        {
                            foreach (var inquilino in inquilinos)
                            {
                                <option value="@inquilino.Id_Inquilino" data-dni="@inquilino.Dni">@inquilino.Apellido
                                    @inquilino.Nombre</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="Id_Inquilino" class="text-danger"></span>
                </div>

                <!-- Fecha Inicio Section -->
                <div class="form-group">
                    <label asp-for="Fecha_Inicio" class="control-label">Fecha Inicio</label>
                    <input asp-for="Fecha_Inicio" class="form-control" type="date" id="fechaInicio" />
                    <span asp-validation-for="Fecha_Inicio" class="text-danger"></span>
                </div>

                <!-- Meses Section -->
                <div class="form-group">
                    <label asp-for="Meses" class="control-label">Meses</label>
                    <input asp-for="Meses" class="form-control" type="number" min="1" id="meses"
                        onchange="calcularFechaFinal()" />
                    <span asp-validation-for="Meses" class="text-danger"></span>
                </div>

                <!-- Fecha Finalización Section -->
                <div class="form-group">
                    <label asp-for="Fecha_Finalizacion" class="control-label">Fecha Finalización</label>
                    <input asp-for="Fecha_Finalizacion" class="form-control" id="fechaFinalizacion" type="date"
                        readonly />
                    <span asp-validation-for="Fecha_Finalizacion" class="text-danger"></span>
                </div>
                <!-- Monto Section -->
                <div class="form-group">
                    <label class="control-label">Monto</label>
                    <input class="form-control" type="text"
                        value="$@string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-AR"), "{0:N2}", elinmueble?.Precio)"
                        readonly />
                </div>
                <!-- Id Creado Por Section -->
                @* <div class="form-group">
                <label asp-for="Id_Creado_Por" class="control-label">Id Creado Por</label>
                <input asp-for="Id_Creado_Por" class="form-control" type="text" />
                <span asp-validation-for="Id_Creado_Por" class="text-danger"></span>
                </div> *@

                <!-- Buttons Section -->
                <div class="form-group">
                    <button type="submit" class="btn btn-primary mt-3">Guardar</button>
                    <a asp-action="ListContrato" class="btn btn-secondary mt-3">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/js/site.js"></script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        // Función para calcular la fecha de finalización
        function calcularFechaFinal() {
            var fechaInicio = document.getElementById('fechaInicio').value;
            var meses = document.getElementById('meses').value;

            if (fechaInicio && meses) {
                var fecha = new Date(fechaInicio);
                fecha.setMonth(fecha.getMonth() + parseInt(meses));

                var dia = fecha.getDate();
                var mes = fecha.getMonth() + 1; // Los meses en JavaScript son base 0
                var año = fecha.getFullYear();

                // Formato YYYY-MM-DD
                var fechaFinal = año + '-' + (mes < 10 ? '0' : '') + mes + '-' + (dia < 10 ? '0' : '') + dia;

                document.getElementById('fechaFinalizacion').value = fechaFinal;
            }
        }

        function buscarInquilino() {
            var dni = document.getElementById('dni-inquilino').value.toLowerCase();
            var opciones = document.getElementById('inquilino-select').options;

            for (var i = 0; i < opciones.length; i++) {
                var opcion = opciones[i];
                var dniInquilino = opcion.getAttribute('data-dni');

                if (dniInquilino && dniInquilino.startsWith(dni)) {
                    opcion.style.display = '';
                } else {
                    opcion.style.display = 'none';
                }
            }
        }


    </script>
}
